<header class="header">
    <p>
        <a href="https://www.w3.org/"><img alt="W3C" src="https://www.w3.org/Icons/w3c_home" height="48" width="72" style="display: inline;"></a>
        <a href="https://www2019.thewebconf.org/">
            <img src="https://www2019.thewebconf.org/media/logo.svg" alt="The Web Conference" height="48"  style="display: inline;">
        </a>
    </p>
    <h1 id="top">W3C Track on The Web Conference 2019</h1>
    <p>
        May 15, 2019; San Francisco, California
    </p>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a href="index.html">Home Page</a>
            </li>
            <li>
                <a href="organizers.html">Organizers</a>
            </li>
            <li>
                <a href="schedule.html">Schedule</a>
            </li>
            <li>
                <a href="speakers.html">Speakers</a>
            </li>
            <li>
                <a href="location.html">Location</a>
            </li>
            <li>
                <a href="register.html">Register</a>
            </li>
        </ul>
    </nav>
</header>
